In [1]:
import mysql.connector

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="bmsce"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001ECA4521FA0>

In [3]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [4]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE STUDENT")

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="bmsce",
  database="STUDENT"
)

In [6]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Student (name VARCHAR(255), USN VARCHAR(10))")

In [7]:
a=input("Enter Name of Student")
b=input("Enter USN")

Enter Name of StudentAayush Kumar Sharma
Enter USN1BM19CS001

In [8]:
mycursor = mydb.cursor()

sql = "INSERT INTO Student(name, USN) VALUES (%s, %s)"
val = (a, b)
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [9]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Student")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Aayush Kumar Sharma', '1BM19CS001')

In [10]:
mycursor = mydb.cursor()

sql = "DELETE FROM Student WHERE USN = '1BM19CS100'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted